<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <%# <th>Address</th>
      <th>Stars</th> %>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>